*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/build/kotlin/compileKotlin/build-history.bin
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
/buildSrc/build/kotlin/buildSrcjar-classes.txt
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/.idea/codeStyles/codeStyleConfig.xml
/com.github.olegosipenko.kointestsample.ScreenshotTest_testScreenshot.png
/.idea/compiler.xml
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/.idea/gradle.xml
/buildSrc/build/classes/kotlin/main/GradlePlugins.class
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/.idea/jarRepositories.xml
/buildSrc/build/kotlin/compileKotlin/last-build.bin
/buildSrc/build/classes/kotlin/main/Libs.class
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/buildSrc/build/tmp/jar/MANIFEST.MF
/.idea/misc.xml
/buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
/.idea/codeStyles/Project.xml
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/buildSrc/build/reports/task-properties/report.txt
/buildSrc/build/source-roots/buildSrc/source-roots.txt
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/buildSrc/build/reports/plugin-development/validation-report.txt
/.idea/vcs.xml
/buildSrc/build/classes/kotlin/main/Versions.class
